{% extends "offline/base.html" %}
{% load staticfiles %}

{% block title %}offline web sample test{% endblock title %}

{% block extrahead %}
<script src='/sw.js'></script>
<script src="{% static 'js/indexeddb.js' %}"></script>
<script>
$(function(){
  $('#lno').val(getUniqueStr());
  initIndexedDB(1);

  $('#add').on('click',function(){
    addRecord();
  });  

  $('#read').on('click',function(){
    readAll();
  });  
  
  $('#delall').on('click',function(){
    delAll();
  });
});
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <h3 class="page-header">offline web sample test / {{ version }}</h3>

    <form>
      <div class="row">
          <div class="col-sm-12">
            <label>lNo:</label><input type="text" id="lno" size="30" maxlength="20" class="form-control linfo">
            <label>氏名:</label><input type="text" id="jname" class="form-control linfo">
            <label>電話番号:</label><input type="tel" id="tel" class="form-control linfo">
            <!-- ▼郵便番号入力フィールド(7桁) -->
            <label>郵便番号:</label><input type="text" name="zip11" size="10" id="postal" maxlength="8" onKeyUp="AjaxZip3.zip2addr(this,'','addr11','addr11');" id="postal" class="form-control linfo">
            <!-- ▼住所入力フィールド(都道府県+以降の住所) -->
            <label>住所:</label><input type="text" name="addr11" size="60" id="address" class="form-control linfo">
            <label>住所(番地):</label><input type="text" size="60" id="address2" class="form-control linfo">
            <label>住所(マンション・建物名等):</label><input type="text" size="60" id="address3" class="form-control linfo">
          </div>
      </div>
    
      <div class="row" style="margin-top:10px">
        <div class="col-sm-12 pull-right">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button id="add" type="button" class="btn btn-primary">追加</button>
            <button id="read" type="button" class="btn btn-success">読み込み</button>
            <button id="delall" type="button" class="btn btn-danger">全削除</button>
          </div>
        </div>
      </div>
      
      <div class="row" style="margin-top:10px">
        <div class="col-sm-12">
          <h4>Indexed DB Data(Local Strage)</h4>
          <ul class="list-group" id="list"></ul>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}